/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Стилизация моя

@font-face {
font-family: 'PT Sans'; 
font-style: normal;
font-weight: normal;
src: url('../fonts/ptsans.woff2') format('woff2'),
src: url('../fonts/ptsans.woff') format('woff');
}

@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: bold;
src: url("../fonts/ptsansbold.woff2") format("woff2"),
src: url("../fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}


.main--navigation a:hover,
.main--navigation a:focus {
  color: #81b3d2;
}

.main--navigation a:active {
  color: #b2b2b2;
}

h1, h2 {
  font-size: 21px;
  font-weight: 700;
}

.main--item,
.main--item__text,
.main--item__icon,
.main--item__number {
  text-align: center;
}
.main--item__invert {
  background-color: #81b3d2;
  color: white;
}

.main--item__back-grey {
  background-color: #eeeeee;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.button__secondary {
  background-color: #eeeeee;
  color: #a9a9a9;
}

.button__secondary:hover,
.button__secondary:focus {
  color: #000000;
}

.button__secondary:active {
  color: #81b3d2;
}

.button__primary {
  background-color: #81b3d2;
  color: white;
}

.button__primary:hover,
.button__primary:focus {
  background-color: #669ec0;
}

.button__primary:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.button__ghost {
  background: none;
  border: 2px solid white;
  color: white; 
}

.button__ghost:hover {
  background: white;
  color: black;
}

.button__secondary {
  background: #766357;
  color: white;
}

.button__secondary:hover {
  background: #604e43;
  color: white;
}

.button__secondary:active {
  background: #503e33;
  color: #857871;
}

.form--search input {
  font: inherit;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2; 
}

.form--search input:hover {
  background-color: #ebebeb;
}

.form--search input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5; 
  outline: none;
}

.main--footer__social {
  text-align: center;
}

.main--footer__copyright {
  text-align: center;
}

.filters--form {
  background: url(../img/filter-background.jpg) 50% 50% no-repeat;
  color: white;
}

.filters--sort__item a {
  color: #b2b2b2;
  text-decoration: underline dotted #81b3d2;    
}

.filters--sort__item a:hover {
  color: #81b3d2; 
}

.filters--sort__item a:active {
  color: black;
  text-decoration: none;
}

.sort--state__active a {
  color: #81b3d2; 
  text-decoration: none;
}

.catalog--item__description h1 a:hover {
  color: #81b3d2; 
}

.catalog--item__description h1 a:active {
  color: #b2b2b2; 
}






